body{
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: ;
}

main{
    border: 1px solid black;
    border-radius: 5%;
}

#photo{
    height: 200px;
}